
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Noto+Sans+SC:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 1px = 0.1rem*/
    scroll-behavior: smooth;
}

body {
    background-image: url("../asset/paper\ texture.avif");
    background-size: 50%;
    /* margin-top: 6.3rem; */
}


canvas {
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    /* background:white; */
}